<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @user.first_name %>,</h1>
    <p>
      Your request for resetting the password of <%= @user.email %> is successful.<br>
      The temporary password is: <strong><%= @user.pswd %></strong>.<br>
      <strong>Once you are logged in kindly reset your password.</strong>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks!</p>
  </body>
</html>